#main{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 119, 255);
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    
    margin: 300px;
}
#div-main > #main:hover{
    text-transform: uppercase;
    text-shadow: 100px;
    Thank you
    
}